<div class="container">
    <div class="row">
        <div [class]="detailsOpen">
            <div class="row header">
                <div class="col-3">Name</div>
                <div class="col-3">Health</div>
                <div class="col-3">Damage</div>
                <div class="col-3">Races</div>
            </div>
            <div class="entry" *ngFor="let class of classes">
                <class-card [data]="class" (detailEvent)="displayDetails($event)"></class-card>
            </div>
        </div>
        <div *ngIf="detailsOpen.includes('col-6')" [class]="detailsOpen">
            <button (click)="closeDetails()">Close</button>
            <div [innerHTML]="classDetails"></div>
        </div>
    </div>
</div>